@model List<StockApp.Models.Users.UserViewModel>;

@{
	ViewData["Title"] = "Mantenimiento de usuarios";
}

<div style="height:100%">
	<div class="row mb-2">
		<div class="col-9">
			<h2 class="float-start">Mantenimiento de usuario</h2>

		</div>
		<div class="col-3 ">

			<a asp-controller="User" asp-action="Create" class="btn btn-outline-success float-end">Agregar nuevo usuario</a>


		</div>


	</div>

	<div class="container mt-4 shadow-lg p3 mb-5  rounded" >
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
				<th>ID</th>
				<th>NOMBRE</th>
				<th>APELLIDO</th>
				<th>TELEFONO</th>
				<th>CORREO</th>
				<th>NOMBRE DE USUARIO</th>
				<th></th>
								
				</tr>

			</thead>
			<tbody >

				@if(Model!=null && Model.Count > 0)
				{
					@foreach(var user in Model)
					{
						<tr>
							<td>@user.Id</td>
							<td>@user.FirstName</td>
							<td>@user.LastName</td>
							<td>@user.Phone</td>
							<td>@user.Email</td>
							<td>@user.UserName</td>
							<td>
								<div class="btn-group">
									<a asp-controller="User" asp-action="Update" asp-route-id="@user.Id" class="btn btn-sm btn-outline-info">Editar</a>
									<a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-outline-danger">Eliminar</a>
								</div>


							</td>
						</tr>

					}
				}

			</tbody>

		</table>
	</div>
</div>
